repos:
- repo: https://github.com/vahharris/pre-commit-golang
  rev: c17f835cf9f04b8b5ed1c1f7757cedc6728d8a21
  hooks:
    - id: go-fmt
    - id: go-vet
    - id: go-imports
    - id: validate-toml
    - id: no-go-testing
    - id: golangci-lint
    - id: go-unit-tests
    - id: go-build
    - id: go-mod-tidy
    